/* Скидання базових правил в Браузері */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon {
    height: 15px;
    width: 15px;
}

.menu-logo {
    position: absolute;
    left: 10%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
}

.menu-list {
    position: relative;
    right: 10%;
    display: flex;
    justify-content: flex-end;
    column-gap: 40px;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
}

.menu-list a {
    text-decoration: none;
    color: #000;
}


.header ul{
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: #000;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.content {
    margin: 0 auto;
    background-color: #d3d3d3;
}

.section-title {
    padding-top: 250px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 64px;
    line-height: 42px;
    text-align: center;
}

.section-info {
    position: relative;
    right: 10%;
    padding-bottom: 250px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 400;
    text-align: end;
}

.section-info p {
    margin-bottom: 20px;
}

.section-info .button {
    padding: 10px;
    width: 320px;
    height: 40px;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    background-color: #070707;
    cursor: pointer;
    text-decoration: none;
}

.content-info {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
}

.c-title {
    font-weight: 700;
}

.c-subtitle {
    padding-top: 10px;
    font-weight: 700;
    color: #ff0000;
}

.footer {
    display: flex;
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    background-color: #070707;
    color: #fff;
}